LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

100 DIALOGEX 6, 30, 212, 200
STYLE DS_CENTER	| DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_LEFT
CAPTION "BeeSFX - Self Extractor 0.2.0"
FONT 8, "Tahoma"
BEGIN
  LTEXT "To extract all files in archive to the specified"      , 101, 6,  5, 150,  8
  LTEXT "folder press the Extract button."                      , 102, 6, 15, 150,  8

  LTEXT "Extraction folder:"                                    , 103, 6, 35, 120,  8
  EDITTEXT                                                        104, 6, 45, 140, 12

  LTEXT "Insert archive password:"                              , 105, 6, 63, 120,  8
  EDITTEXT                                                        106, 6, 73, 140, 12

  AUTOCHECKBOX "Overwrite existing files"                       , 107, 6, 90, 120, 12


  LTEXT "(C) 2005-2011 Andrew Filinsky and Melchiorre Caruso."  , 110, 6, 115, 200,  8

  PUSHBUTTON "Extract",  IDOK   , 157,   4,  48,  14
  PUSHBUTTON "Close", IDCLOSE   , 157,  22,  48,  14
END

200 DIALOGEX 6, 30, 185, 44
STYLE DS_CENTER	| DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_LEFT
CAPTION "Progress ..."
FONT 8, "Tahoma"
BEGIN
  LTEXT "Starting ..."                                             , 201, 6, 10, 170,  8
  LTEXT "Total progress: 0%"                                       , 202, 6, 25, 120,  8

  PUSHBUTTON "Cancel", IDCLOSE  , 130, 22,  48,  14
END
