MAINICON ICON "C:/working/beesdk/trunk/beegui/source/resources/icons/beeguiico6.ico"
ICO_0 ICON "C:/working/beesdk/trunk/beegui/source/resources/icons/beeguiico6.ico"
1 VERSIONINFO
FILEVERSION 1,0,5,373
PRODUCTVERSION 1,0,5
{
 BLOCK "StringFileInfo"
 {
  BLOCK "080904E4"
  {
   VALUE "Comments", "The Bee Archiver\000"
   VALUE "CompanyName", "Andrew Filinsky and Melchiorre Caruso\000"
   VALUE "FileDescription", "The Bee Archiver\000"
   VALUE "FileVersion", "1.0.5.373\000"
   VALUE "InternalName", "BeeGui\000"
   VALUE "LegalCopyright", "2008 Andrew Filinsky and Melchiorre Caruso\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "BeeGui\000"
   VALUE "ProductName", "BeeGui\000"
   VALUE "ProductVersion", "1.0.5\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0809, 0x04E4
 }
}
